---
layout: default
title: "Unfolding is a library to create interactive maps and geovisualizations in Processing and Java"
tagline: 
---
{% include JB/setup %}

<section class="outer-container page-section1">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h2>{{ page.title }}</h2>
        {% if page.tagline %}
          <p>{{ page.tagline }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <div id="myCarousel" class="carousel">
          <!-- Carousel items -->
          <div class="carousel-inner">
              <div class="active item">
                <a href="examples/40_marker-mbta-lines.html" class="thumbnail">
                  <img src="{{ BASE_PATH }}/assets/images/teaser/mbta-lines-label.png" alt="">
                </a>
              </div>
              <div class="item">
                <a href="examples/30_image-overlay.html" class="thumbnail">
                  <img src="{{ BASE_PATH }}/assets/images/teaser/splendor-label.png" alt="">
                </a>
              </div>
              <div class="item">
                <a href="exhibition/" class="thumbnail">
                  <img src="{{ BASE_PATH }}/assets/images/teaser/mt-singapore-label.png" alt="">
                </a>
              </div>
              <div class="item">
                <a href="tutorials/mapprovider-and-tiles.html" class="thumbnail">
                  <img src="{{ BASE_PATH }}/assets/images/teaser/map-providers-label.png" alt="">
                </a>
              </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
      <div class="span4">
        <div class="donload">
          <h3>Download</h3>
          <!-- <p><a href="https://github.com/tillnagel/unfolding/zipball/master">Download</a> the Unfolding library for Processing or Java from GitHub its Free</p> -->
          <p>
            <a href="https://s3.amazonaws.com/unfoldingmaps/0.9.3/Unfolding_for_processing_0.9.3.zip" class="btn btn-large"><i class="icon-download"> </i> For Processing 1.5</a>
            <a href="https://s3.amazonaws.com/unfoldingmaps/0.9.3/unfolding_app_template_with_examples_0.9.3.zip" class="btn btn-large"><i class="icon-download"> </i> For Eclipse</a>
          </p>
          <p>
            Or download <a href="/downloads">more packages</a> with examples, the jar and more.
          </p>
        </div>
        <div class="donload">
          <h3>Getting Started</h3>
          <p>Its really easy to make your own interactive maps using Unfolding. Check out these tutorials to kick-start your application.</p>
          <p><a href="{{ BASE_PATH }}/tutorials/getting-started-in-processing.html" class="btn btn-large">Start in Processing</a> <a href="{{ BASE_PATH }}/tutorials/getting-started-in-eclipse.html" class="btn btn-large">Start in Eclipse</a></p>
      </div>
    </div>
  </div>
</section>

<section class="outer-container page-section2">
  <div class="container">
	<!-- Special Notifications
	
	<div class="row">
      <div class="span8">
		<em>
		Help us improving Unfolding by filling out a <a href="http://goo.gl/X9gNx">short survey</a>.
		</em>
      </div>
    </div>
    -->
	
	
    <div class="row">
      <div class="span8">
        <h2>Features</h2>
        <p><p>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <h3>Interaction Events</h3>
        <p>Unfolding enables you to quickly create interactive maps. Basic interactions
        such as Zoom & Pan are included. More advanced functionality such as Overview+Detail,
        or multitouch gestures can be easily added.</p>
      </div>
      <div class="span4">
        <h3>Data Visualization</h3>
        <p>Simply create geo-positioned markers to display data on a map. The visual style
        can be adapted freely. The library supports loading and displaying user-defined shapes, such as
        points, lines, or polygons.</p>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <h3>Styled Maps</h3>
        <p>Unfolding is a tile-based map library. Map tiles can have various geographic
        features, and come in all kind of styles. It comes with various map providers,
        such as OpenStreetMap or TileMill.</p>
      </div>
      <div class="span4">
        <h3>Clean & Extendable Code</h3>
        <p>Unfolding enables beginners to easily create simple maps. Advanced users can quickly sketch out prototypes, or create sophisticated visualizations. And expert users can extend Unfolding's functionality.</p>
      </div>
    </div>
  </div>
</section>
