// ================
// = Import Fonts =
// ================

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);



// =================================
// = Setup Bootstrap and Variables =
// =================================

@import "../bootstrap/stylesheets/_bootstrap.scss";
$iconSpritePath:          url("../bootstrap/images/glyphicons-halflings.png");
$iconWhiteSpritePath:     url("../bootstrap/images/glyphicons-halflings-white.png");
$bodyBackground: #FFF;
$linkColor: #4183C4;
$linkColorHover: #4183C4;
$headingsFontFamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily: "Bitter", Georgia, "Times New Roman", Times, serif;
$sansFontFamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 21px;
$topDividerColor: rgba(0,0,0,.06);
$bottomDividerColor: rgba(255,255,255,.5);

// $navbarHeight:                    40px !default;
// $navbarBackground:                $grayLighter;
// $navbarBackgroundHighlight:       $white;
//
// $navbarText:                      $grayLight !default;
// $navbarLinkColor:                 $grayLight !default;
// $navbarLinkColorHover:            $white !default;
// $navbarLinkColorActive:           $navbarLinkColorHover !default;
// $navbarLinkBackgroundHover:       transparent !default;
// $navbarLinkBackgroundActive:      $navbarBackground !default;
//
// $navbarSearchBackground:          lighten($navbarBackground, 25%) !default;
// $navbarSearchBackgroundFocus:     $white !default;
// $navbarSearchBorder:              darken($navbarSearchBackground, 30%) !default;
// $navbarSearchPlaceholderColor:    #ccc !default;
// $navbarBrandColor:                $navbarLinkColor !default;




@import "../bootstrap/stylesheets/_bootstrap.scss";

// ===============================
// = Container Sections and Rows =
// ===============================

.outer-container{
    border-top: $topDividerColor solid 1px;
    border-bottom: $bottomDividerColor solid 1px;
    width:100%;
    margin:0;
    padding:0;
}

.thumbnail {
  background: #FFF;
  border:none;
}


.span8  ul {margin-bottom:10px;}
.span8	ul {margin-bottom:10px;}
.span8	pre {margin-bottom: 10px;}
.span8	img { }

.container{
    &:first-child{
        margin-top:$baseLineHeight;
        padding-bottom: $baseLineHeight*2;
    }
}

.page-header .container{
  margin-top:0;
  margin-bottom:0;
  padding-bottom:0;
}

.page-section1{
    //@include translucent-background(#BFB9A4,1);
    // background:url('/assets/images/cartographer.gif') whiteSmoke;
    background: whiteSmoke;
    border-bottom:none;
}

.page-section2{
  .thumbnail{
    border: rgba(0, 0, 0, 0.06) solid 1px;
    background: whiteSmoke;
  }
}

.page-footer {
    color: white;
    @include translucent-background(#000, 0.8);
    margin-top: $baseLineHeight*2;
}



// ================================================
// = Standart HTML Elements and Bootstrap Classes =
// ================================================

h1, h2, h3, h4, h5, h6{
  font-family: $headingsFontFamily;
  font-weight: 600;
  a{
    font-family: $headingsFontFamily;
    font-weight: 600;
    color: $linkColor;
    &:hover{
      color: $linkColor;
    }
  }
}

h3 {
    font-size: 18px;
    line-height: 39px;
}

p{
    margin-bottom: $baseLineHeight;
}

.btn {
  i {
    @extend .icon;
    opacity: 0.9;
  }
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  line-height: $baseLineHeight;
  &:hover{
    i{
      @extend .icon-white;
    }
  }
}

.btn:hover {
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-color: #518CC6;
  border-bottom-color: #2A65A0;
  @include buttonBackground(#599BDC, #3072B3);
}

// ==================
// = Custom Classes =
// ==================



.logo a,
.menu li a{
  @include box-sizing(border-box);
  display: inline-block;
  font-family: $headingsFontFamily;
  font-size: 18px;
  font-weight: 600;
  line-height: $baseLineHeight*2;
  padding: 0 15px 0 15px;
  margin: $baseLineHeight*1.5 0 $baseLineHeight*1 0;
}

.logo {
  @extend .pull-left;
  a {
    background: url("../../../images/logo.png") no-repeat 0 50%;
    color:#000000;
    padding-left: 150px;
    &:hover {
      text-decoration: none;
    }
  }
}

.menu {
  @extend .unstyled;
  li {
    @extend .pull-left;
    a {
      text-decoration: none;
      &:hover{
        background: whiteSmoke;
      }
    }

  }
}

.page-header .menu{
  @extend .pull-right;
  li {
    a{
      border-right: 1px dotted #BCBCBC;
    }
    &:last-child a{
      border-right: none;
    }
    &.active a{
      color: #000;
    }
  }
}

.page-footer .menu{
  @extend .pull-left;
  width:100%;
  li{
    a{
      font-family: $headingsFontFamily;
      font-size: $baseFontSize;;
      font-weight: 600;
      line-height: $baseLineHeight;
      padding: 0 5px 0 5px;
      margin: 0 4px 0 0 ;
    }
    a:hover,
    &.active a{
      color: #fff;
    }
    a:hover{
      @include border-radius(4px);
      background: black;
    }
  }
}

.ribbon {
  position:absolute;
  top:0;
  right:0;
  z-index: 900;
}


a.thumbnail:hover {
  background: #fff;
  border-color: none;
}

.pages-teasers {
    &.pages-teasers-list{
        .thumbnail {
            margin-right: $gridGutterWidth;
        }
    }
    &.pages-teasers-grid{
        .thumbnail {
            margin-bottom: $baseLineHeight/2;
        }
        li{
            min-height: 370px;
        }
    }
}


