// ================
// = Import Fonts =
// ================

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);



// =================================
// = Setup Bootstrap and Variables =
// =================================

@import "../bootstrap/stylesheets/_bootstrap.scss";
$iconSpritePath:          url("../bootstrap/images/glyphicons-halflings.png");
$iconWhiteSpritePath:     url("../bootstrap/images/glyphicons-halflings-white.png");
$bodyBackground: #F5F5F5;
$linkColor: #B92F2F;
$linkColorHover: #B92F2F;
$serifFontFamily: "Bitter", Georgia, "Times New Roman", Times, serif;
$sansFontFamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 21px;
$topDividerColor: rgba(0,0,0,.06);
$bottomDividerColor: rgba(255,255,255,.5);

// $navbarHeight:                    40px !default;
// $navbarBackground:                $grayLighter;
// $navbarBackgroundHighlight:       $white;
//
// $navbarText:                      $grayLight !default;
// $navbarLinkColor:                 $grayLight !default;
// $navbarLinkColorHover:            $white !default;
// $navbarLinkColorActive:           $navbarLinkColorHover !default;
// $navbarLinkBackgroundHover:       transparent !default;
// $navbarLinkBackgroundActive:      $navbarBackground !default;
//
// $navbarSearchBackground:          lighten($navbarBackground, 25%) !default;
// $navbarSearchBackgroundFocus:     $white !default;
// $navbarSearchBorder:              darken($navbarSearchBackground, 30%) !default;
// $navbarSearchPlaceholderColor:    #ccc !default;
// $navbarBrandColor:                $navbarLinkColor !default;




@import "../bootstrap/stylesheets/_bootstrap.scss";




// ===============================
// = Container Sections and Rows =
// ===============================

.outer-container{
    border-top: $topDividerColor solid 1px;
    border-bottom: $bottomDividerColor solid 1px;
    width:100%;
    margin:0;
    padding:0;

    
}

.container{
    &:first-child{
        margin-top:$baseLineHeight;
    }
}

.page-section1{
    //@include translucent-background(#BFB9A4,.2);
    background:#FFFFFF;
}




// ================================================
// = Standart HTML Elements and Bootstrap Classes =
// ================================================

h1, h2, h3, h4{
    // font-family: $serifFontFamily;
    font-family: "Open Sans";
    font-weight: 600;
    &h3{
        text-transform: uppercase;
    }
}

p{
    margin-bottom: $baseLineHeight;
}

.btn {
    &.btn.btn-primary{
        @extend .btn-inverse;
    }
}




// ==================
// = Custom Classes =
// ==================

.logo {
  position: relative;

  background-image: url("../../../images/logo.png");
  background-repeat: no-repeat;
  top: -14px;
  padding-left: 139px;
  
  padding-top: 22px;
  
  overflow: visible;
  position: relative;
  height: 39px;
  
  h1 {
    font-size: 20px;
    float:left;
    a {
      color:#000000;
    }
    a:hover {
      text-decoration: none;
    }
  }  
}

.menu {
  float: right;
  margin: 0;
  padding: 0 0 15px;
  list-style: none;
  
  li {
    float: left; 
    a {
      padding: 10px 15px;
      text-decoration: none; 
      border-right: thin dotted #BCBCBC;
    }
  }
  li:last-child {
    a {
      border-right: none;
    }
    
  }    
}

.btn {

  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
}



footer {
    opacity: 0.8;
    color: white;
    background: black;
    margin-top: 55px!important;
}

h3 {
    font-size: 20px;
    line-height: 39px;
}



.pages-teasers {
    &.pages-teasers-list{
        .thumbnail {
            margin-right: $gridGutterWidth;
        }
    }
    &.pages-teasers-grid{
        .thumbnail {
            margin-bottom: $baseLineHeight/2;
        }
        li{
            min-height: 370px;
        }
    }
}


