<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}: {{ page.title }}</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else if  site.tagline %}
        <meta name="description" content="{{ site.tagline }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ ASSET_PATH }}/js/jquery.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-alert.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-button.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-carousel.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-collapse.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-dropdown.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-modal.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-scrollspy.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-tab.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-tooltip.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-popover.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-typeahead.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/javascripts/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/js/script.js"></script>
    <script src="{{ ASSET_PATH }}/js/shCore.js"></script>
    <script src="{{ ASSET_PATH }}/js/shBrushProcessing.js"></script>
    <script src="{{ ASSET_PATH }}/js/shBrushJava.js"></script>
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ ASSET_PATH }}/css/shCore.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ ASSET_PATH }}/css/shThemeProcessing.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{{ BASE_PATH }}/assets/images/favicon.ico">
	<!-- For iPhone -->
    <link rel="apple-touch-icon" href="{{ BASE_PATH }}/assets/images/apple-touch-icon-precomposed.png">
	<!-- For iPad: -->
    <link rel="apple-touch-icon" sizes="72x72" href="{{ BASE_PATH }}/assets/images/apple-touch-icon-72x72-precomposed.png">
	<!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon" sizes="114x114" href="{{ BASE_PATH }}/assets/images/apple-touch-icon-114x114-precomposed.png">
	<!-- Opera speed dial icon -->
	<link rel="icon" type="image/png" href="{{ BASE_PATH }}/assets/images/speed-dial-icon.png">

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33711190-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  </head>
  <body>
    <header class="outer-container page-header">
      <div class="container">
        <div class="row">
            <div>
              <h1 class="logo"><a href="{{ HOME_PATH }}"></a></h1>
              <ul class="menu">

                {% assign pages_list = site.pages %}
                {% assign required_page = 'Exhibition' %}
                {% include menuitem %}

                {% assign pages_list = site.pages %}
                {% assign required_page = 'Tutorials' %}
                {% include menuitem %}

                {% assign pages_list = site.pages %}
                {% assign required_page = 'Examples' %}
                {% include menuitem %}

                <li>
                  <a href="http://tillnagel.github.com/unfolding/javadoc/index.html" target="_blank">API</a>
                </li>

              </ul>
              <a class="ribbon" href="https://github.com/tillnagel/unfolding"><img src="{{ BASE_PATH }}/assets/images/forkme_right_darkblue.png" alt="Fork me on GitHub"></a>
            </div>
        </div>
      </div>
    </header>
    {{ content }}
    <footer class="outer-container page-footer">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="menu">

              {% assign pages_list = site.pages %}
              {% assign required_page = 'Exhibition' %}
              {% include menuitem %}

              {% assign pages_list = site.pages %}
              {% assign required_page = 'Tutorials' %}
              {% include menuitem %}

              {% assign pages_list = site.pages %}
              {% assign required_page = 'Examples' %}
              {% include menuitem %}

              <li>
                <a href="http://tillnagel.github.com/unfolding/javadoc/index.html" target="_blank">API</a>
              </li>

              <li>
                <a href="https://github.com/tillnagel/unfolding" target="_blank">GitHub</a>
              </li>

              {% assign pages_list = site.pages %}
              {% assign required_page = 'Contact' %}
              {% include menuitem %}
            </ul>
            <p class="copy">&copy; 2012 – <a href="{{ HOME_PATH }}">{{ site.title }}</a> by {{ site.author.name }}<br />
            Developed at Interaction Design Lab, FH Potsdam and KU Leuven.
            </p>
          </div>
        </div>
      </div>
    </footer>
    {% include JB/analytics %}
  </body>
</html>
