<section class="outer-container page-section1">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
        <!-- {% if page.group == "navigation"%}
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/610x390&text=Bild+2+610x390" alt="">
          </a>
        {% endif %} -->
        {% if page.finalimage %}
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/610x390&text=Bild+2+610x390" alt="">
          </a>
        {% endif %}
      </div>
      <div class="span4">
        {% if page.group == "navigation"%}
          {% if page.title == "Exhibition"%}
            <h6>Exhibition</h6>
            <ul>
              {% assign pages_list = site.pages %}
              {% assign group = "exhibition" %}
              {% include JB/pages_list %}
            </ul>
          {% endif %}
          {% if page.title == "Knowledgebase"%}
            <h6>Knowledgebase</h6>
            <ul>
              {% assign pages_list = site.pages %}
              {% assign group = "knowledgebase" %}
              {% include JB/pages_list %}
            </ul>
          {% endif %}
        {% endif %}
        {% if page.group != "navigation"%}
          <h6>{{page.group}}</h6>
          <ul>
            {% assign pages_list = site.pages %}
            {% assign group = page.group %}
            {% include JB/pages_list %}
          </ul>
        {% endif %}
        {% if page.group == "knowledgebase"%}
          <div class="download-box">
            <h3>Download Tutorial Files </h3>
            <p>Download all Files for the "{{ page.title }}" Ttorial as processing sketch.</p>
            <p><a href="{{page.src}}" class="btn btn-primary"><i class="icon-download icon-white"></i>Download Tutorial Files</a></p>
          </div>
        {% endif %}
      </div
    </div>
  </div>
</section>
<section class="outer-container page-section2">
  <div class="container">
    <div class="row">
      <div class="span8">
        {{ content }}
      </div>
      <div class="span4">

      </div>
    </div>
   </div>
</section>