<section class="outer-container page-section1">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <!-- {% if page.group == "navigation"%}
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/610x390&text=Bild+2+610x390" alt="">
          </a>
        {% endif %} -->
        {% if page.finalimage %}
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/610x390&text=Bild+2+610x390" alt="">
          </a>
        {% endif %}
      </div>
      <div class="span4">
        {% if page.group == "navigation"%}
          {% if page.title == "Exhibition"%}
            <div class="submit-exhibition-box">
              <h3>Submit a Project</h3>
              <p>We are always welcome users taking the initiative. If you want to submit a Project, please send us a mail containg title, description, credits and an attachment containing images we can choose from.</p>
              <p><a href="mailto: exhibition@unfolding.org" class="btn "><i class="icon-white icon-envelope"> </i> Send us a Mail</a></p>
            </div>
          {% endif %}
          {% if page.title == "Tutorials"%}
            <div class="submit-tutorial-box">
              <h3>Submit a Tutorial</h3>
              <p>We are always welcome users taking the initiative. If you want to submit a tutorial, please send us a mail with an attachment containing markdownfile, codefiles and selected images</p>
              <p><a href="mailto: tutorials@unfolding.org" class="btn "><i class="icon-white icon-envelope"> </i> Send us a Mail</a></p>
            </div>
          {% endif %}
        {% endif %}
        {% if page.group == "tutorials-starter" or page.group == "tutorials-beginner" or page.group == "tutorials-advanced"%}
          <div class="download-box">
            <h3>Download Tutorial Files </h3>
            <p>Download all Files for the "{{ page.title }}" Tutorial as processing sketch.</p>
            <p><a href="{{page.finalfiles}}" class="btn "><i class="icon-download icon-white"> </i> Download Tutorial Files</a></p>
          </div>
        {% endif %}
      </div
    </div>
  </div>
</section>
<section class="outer-container page-section2">
  <div class="container">
    <div class="row">
      <div class="span8">
        {{ content }}
      </div>
      <div class="span4">
      </div>
    </div>
   </div>
</section>